svg#gvdsvg {
    background: #eeeeee;
}

.debug {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

circle.site {
    /*fill: red;*/
}

line.site {
    /*stroke: red;*/
}

line#sweepline {
    stroke: black;
}

/* for debugging */
.gvd-surface {
    stroke: black;
}

.gvd-surface-parabola {
    stroke: black;
}

.gvd-surface-active {
    stroke: black;
    stroke-dasharray: 3,3;
}

.gvd-surface-active-parabola {
    stroke: black;
    stroke-dasharray: 3,3;
}

.debug-line {
    stroke: blue;
    stroke-dasharray: 3,3;
}

.debug-parabola {
    stroke: green;
    stroke-dasharray: 3,3;
}

.seg-boundary {
    stroke: black;
    stroke-dasharray: 3,3;
}

.event {
    stroke: cyan;
    fill: None;
}

.close-event {
    stroke: cyan;
    fill: cyan;
    /*fill: None;*/
}

#debug-circumcircle {
    stroke: black;
    fill: None;
}

path.beachline {
    stroke: blue;
    fill: none;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
