svg#gvdsvg {
    background: #eeeeee;
}

* {
    box-sizing: border-box;
}

body {
    /* Disable scrollbars and ensure that the body fills the window */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.main-view-center {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
  }

.hidden-canvas {
    /* visibility:hidden; */
    border:1px solid #d3d3d3;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 750px; /* Should be removed. Only for demonstration */
    /* overflow: hidden; */
}

/* Create three equal columns that floats next to each other */
.column-debug {
    float: left;
    width: 30%;
    padding: 20px;
    height: auto; /* Should be removed. Only for demonstration */
    /* overflow: hidden; */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.fullscreen {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.debug {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

line#sweepline {
    stroke: black;
}

/* for debugging */
.gvd-surface {
    stroke: black;
}

.gvd-iso-surface {
    stroke: black;
}

.gvd-surface-parabola {
    stroke: black;
}

.gvd-iso-surface-parabola {
    stroke: black;
}

.gvd-surface-active {
    stroke: black;
    stroke-dasharray: 3, 3;
}

.gvd-surface-active-parabola {
    stroke: black;
    stroke-dasharray: 3, 3;
}

.gvd-edge-vertex {
    fill: black;
}

.debug-line {
    stroke: blue;
    /* stroke-dasharray: 3, 3; */
}

.debug-parabola {
    stroke: green;
    /* stroke-dasharray: 3, 3; */
}

.debug-point {
    stroke: red;
}

.seg-boundary {
    stroke: black;
    stroke-dasharray: 3, 3;
}

.event {
    stroke: cyan;
    fill: None;
}

.close-event {
    fill: cyan;
}

#debug-circumcircle {
    stroke: black;
    fill: None;
}

path.beachline {
    stroke: blue;
    fill: none;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.events-box {
    width: 500px;
    height: 180px;
    padding: 10px;
}

/* Debug Panel */
.sliding-panel {
    /* position: fixed; */
    width: 100%;
    height: 40px;
    background: white;
    border-style: solid;
    border-width: 1px;
    -webkit-transition: height 500ms;
    /* For Safari 3.1 to 6.0 */
    transition: height 500ms;
    /* z-index: 999; */
    overflow: hidden;
}

.sliding-panel:hover {
    height: auto;
    background: whitesmoke;
}

.title-group {
    padding: 10px;
}

.debug-inputs {
    width: 50%;
    text-align: right;
}

.debug-input {
    padding: 5px;
}
